In [1]:
import requests
import json
import pandas as pd
from pandas import json_normalize

In [3]:
# load the dataframe with capitals
df = pd.read_csv("concap.csv")

# rename so that the column names are shorter and comply with PEP-8
df.rename(columns={"CountryName": "Country", "CapitalName": "capital", "CapitalLatitude": "lat", "CapitalLongitude": "lon", "CountryCode": "code", "ContinentName": "continent"}, inplace=True)
df.sample(3)

,Country,capital,lat,lon,code,continent
124,Latvia,Riga,56.950000,24.100000,LV,Europe
53,Cocos Islands,West Island,-12.166667,96.833333,CC,Australia
56,Democratic Republic of the Congo,Kinshasa,-4.316667,15.300000,CD,Africa

In [4]:
# to start with let's filter only 2 capitals. Rome and Paris.
ropa = df[df["capital"].isin(["Rome","Paris"])].reset_index()
ropa

   index Country capital        lat        lon code continent
0     81  France   Paris  48.866667   2.333333   FR    Europe
1    110   Italy    Rome  41.900000  12.483333   IT    Europe

In [25]:
lat_1 = '47.4254570232' # Hochbauamt
lon_1 = '9.37577578175'
lat_2 = '47.4249702' # Liegenschaften
lon_2 = '9.3730005'

In [26]:
# call the OSMR API
r = requests.get(f"http://router.project-osrm.org/route/v1/foot/{lon_1},{lat_1};{lon_2},{lat_2}?overview=false""")

In [27]:
routes = json.loads(r.content)
route_1 = routes.get("routes")[0]

In [28]:
str(datetime.timedelta(seconds=route_1["duration"]))

'0:01:11.800000'

In [16]:
import datetime

In [5]:
r = requests.get('https://daten.stadt.sg.ch/api/records/1.0/search/?dataset=freie-parkplatze-in-der-stadt-stgallen-pls&q=&geofilter.distance=47.42427%2C9.37186%2C70')

In [17]:
df = json_normalize(json.loads(r.content)['records'])

In [21]:
df[['lat','lon']] = df['geometry.coordinates'].tolist()

In [22]:
df

,datasetid,recordid,record_timestamp,fields.zeitpunkt,fields.belegung_prozent,fields.phid,fields.shortmax,fields.shortfree,fields.shortoccupied,fields.standort,fields.phstate,fields.dist,fields.phname,geometry.type,geometry.coordinates,lat,lon
0,freie-parkplatze-in-der-stadt-stgallen-pls,6e76a2a3d268993aaf5a705f865891d39303d0b3,2021-10-22T07:49:00.368000+00:00,2021-10-22T07:46:37+00:00,88,P22,84,10,74,"[47.424453, 9.371221]",offen,52.2025071449,Rathaus,Point,"[9.371221, 47.424453]",9.371221,47.424453